body {
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 10pt;
	text-align: center;
}

h1 {
	text-align: center;
}

h3 {
	margin-top: 2em;
}

section {
	text-align: left;
	display: block;
	width: 700px;
	margin: 0 auto;
}

article {
	display: block;
	margin: 20px 0px;
	border: 1px solid #999;
	padding: .5em;
}

tr:nth-child(2n+1) {
	background-color: #eee;
}

td {
	vertical-align: top;
}

td:first-child {
	color: #dcdcdc;
	background: #3f3f3f;
	padding: 0.5em;
}

td {
	vertical-align: top;
}

td:nth-child(2) {
	border: 1px solid #999;
	padding: .4em;
}

td pre {
	height: 100%;
	margin: 0;
	display: block;
}